:root {
    --body-bg: url('../img/BKG.jpeg');
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/////////////// Cuerpo y fondo ///////////////*/
body {
    margin: 0;
    overflow: hidden; /* Evita que el contenido desborde el tamaño del fondo */
    background: var(--body-bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

/*/////////////// Barra de navegación ///////////////*/
nav {
    display: flex;
    justify-content: space-between; /* Logo a la izquierda y menú a la derecha */
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background: #2121214d;
}

/* Logo en la barra */
.marca a {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #9e9696;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 8rem;
}

/* Contenedor del menú de navegación */
.nav-div ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 4rem;
}

/* Estilos de los elementos del menú */
.nav-div ul li {
    margin: 0 1.5rem;
}

.nav-div ul li a {
    text-decoration: none;
    color: #9e9696;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
}

.nav-div ul li a:hover {
    color: #fff;
}

/*/////////////// Contenedor principal ///////////////*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

/* Estilo para el <h1> */ 
h1 { 
    font-size: 6rem;
    font-family: 'Georgia', serif;
    color: #ffffff; 
    margin: 0.5rem 0; /* Espacio alrededor del elemento */ 
} 

/* Estilo para el <h2> */ 
h2 { 
    font-size: 3rem; 
    font-family: 'Arial', sans-serif; 
    color: #ffffff; 
    margin: 0.5rem 0; /* Espacio alrededor del elemento */
}

/*/////////////// Animación de la niebla ///////////////*/
.niebla-animada img {
    z-index: 2;
    opacity: 1;
    bottom: 0;
    animation: loop-niebla 20s linear infinite;
    overflow: hidden;
}

@keyframes loop-niebla {
    0% {
        transform: translateX(70%);
    }
    100% {
        transform: translateX(-70%);
    }
}
